In [1]:
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
rec1 = pd.read_csv("mpdata - rec1.csv")

In [3]:
rec2 = pd.read_csv("mpdata - rec2.csv")

In [4]:
userProfile = rec2.transpose().dot(rec1['fulfilment'])

In [5]:
userProfile

input_id           12.210000
intial_welcome      1.581239
name                1.343076
addTask             2.643887
createSchedule      3.059222
displaySchedule     2.683589
removeTask          2.717639
addExam             2.034828
removeExam          1.964641
dtype: float64

In [6]:
rec3 = rec2.drop("input_id", axis = 1)

In [7]:
rec3.head()

,intial_welcome,name,addTask,createSchedule,displaySchedule,removeTask,addExam,removeExam
0,0.001000,0.000100,0.973540,0.890000,0.131104,0.874796,0.465310,0.211849
1,0.605197,0.720439,0.639647,0.174177,0.910000,0.952183,0.135056,0.749933
2,0.177633,0.532413,0.635819,0.726932,0.970000,0.544282,0.553026,0.322570
3,0.457852,0.387551,0.020618,0.982705,0.469474,0.294132,0.830000,0.821684
4,0.780040,0.024851,0.890000,0.882805,0.802933,0.643510,0.456200,0.364228

In [10]:
recommendation = ((rec3*userProfile).sum()/(userProfile.sum()))

In [11]:
recommendation

addExam            0.164169
addTask            0.276264
createSchedule     0.369944
displaySchedule    0.291407
input_id           0.000000
intial_welcome     0.105722
name               0.073969
removeExam         0.160499
removeTask         0.297386
dtype: float64